.detail {
  display: flex;
}

.infoBlock {
  width: 50%;
  height: 100vh;
  padding: 10px 20px;
}

.infoBlock h1 {
  font-weight: bold;
}

.logo_intro_head {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: auto;
  margin-top: 0.3em;
}

.logo_intro_head span {
  font-size: 1.5rem;
  color: rgb(176, 175, 175);
  text-transform: capitalize;
}

.price {
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.priceBadge {
  font-size: 1rem;
  margin-left: 1em;
  padding: 0.2em 0.7em;
  border-radius: 0.3em;
  font: bold;
  font-size: 1.1rem;
  height: auto;
}

h3 {
  font-weight: 600;
  margin-top: 1em;
}

.marketBlock {
  background-color: rgba(35, 35, 35, 0.727);
  width: 98%;
  height: 25em;
  margin: auto;
  border-radius: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5em;
  padding: 1em;
}

.marketBlock div {
  padding: 0.5em;
}

.marketBlock div h6 {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(166, 166, 166);
}

.marketBlock div p {
  font-size: 1.2rem;
}

.trendingLogo {
  border-radius: 100%;
  border: 5px solid white;
}

button {
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid gray;
}

.infoButton {
  border-radius: 2px;
  height: 25px;
  width: 25px;
  background-color: none;
  color: gray;
  font-size: medium;
}

.graphBlock {
  padding-left: 2em;
  width: 50%;
}

.chart {
  width: 90%;
  height: 75%;
  margin: 2em 0;
  border-radius: 1em;
}

.question {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.answer {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.description-block {
  background-color: rgba(35, 35, 35, 0.727);
  height: auto;
  width: 95%;
  border-radius: 2em;
  padding: 3em;
  margin: 1em auto;
}

.site {
  background-color: rgba(128, 128, 128, 0.533);
  border-radius: 4px;
  padding: 5px;
  color: rgb(160, 159, 159);
  font-weight: bold;
  font-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .detail {
    flex-direction: column;
  }
  .infoBlock {
    width: 100vw;
    height: 75vh;
  }

  .marketBlock div {
    padding: 0.1em;
  }

  .marketBlock {
    height: 18em;
    gap: 1em;
    padding: 1em;
  }

  .marketBlock div h6 {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(166, 166, 166);
  }
  .marketBlock div p {
    font-size: 0.8rem;
  }

  .graphBlock {
    padding-left: 2em;
    width: 100%;
    height: 60vh;
  }

  .description-block {
    padding: 1em;
    overflow: hidden;
  }

  .question {
    text-align: center;
    font-size: 1.5rem;
  }

  .answer {
    text-align: center;
    text-wrap: wrap;
  }
}

@media only screen and(min-width:600px) and (max-width: 1279px) {
  .detail {
    flex-direction: column;
  }

 h3 {
    font-size: 2rem;
}

  .infoBlock {
    width: 100vw;
    height: 42vh;
  }

  .marketBlock {
    height: 22em;
    gap: 0.5em;
    padding: 1em;
  }

  .marketBlock div h6 {
    font-size: 1.6rem;
  }
  .marketBlock div p {
    font-size: 1.5rem;
  }

  .graphBlock {
    padding-left: 2em;
    width: 100%;
    height: 60vh;
  }

  .question {
    text-align: center;
    font-size: 3.5rem;
  }

  .answer {
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
  }

  .site {
  font-size: 2rem;
}
}
