{%extends 'my_app/basic.html'%} {% load static %}

<!-- TITLE -->
{% block title %} {{id}} {% endblock %}

<!-- CSS -->
{% block css %}
<style></style>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'my_app/css/details.css'%}"
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

<!-- BODY -->
{% block body%}

<div>
  <div class="detail">
    <!-- BLOCK 1 -->
    <div class="infoBlock">
      <div>
        <span class="badge rounded-pill text-bg-warning">Rank #{{rank}}</span>

        <div class="logo_intro_head">
          <img src="{{logo}}" alt="" />
          <h1>{{name}} Price</h1>
          <span> • {{symbol}}</span>
        </div>

        <p class="price">
          ${{price}}
          <span class="priceBadge" id="badge"
            ><i class="fa-solid fa-caret-up" id="symbol"></i>
            {{priceChange_1h}}% (1h)</span
          >
        </p>
      </div>

      <!-- MARKET STATS -->

      <div>
        <h3>Market Stats</h3>
        <div class="marketBlock">
          <div>
            <h6>Price</h6>
            <p>${{price}}</p>
          </div>
          <div>
            <h6>Market Cap</h6>
            <p>${{market_cap}}</p>
          </div>
          <div>
            <h6>Total Volume</h6>
            <p>${{total_vol}}</p>
          </div>
          <div>
            <h6>Price Change(1h)</h6>
            <p>{{priceChange_1h}}%</p>
          </div>
          <div>
            <h6>Price Change(24h)</h6>
            <p>{{priceChange_24h}}%</p>
          </div>
          <div>
            <h6>Price Change(7d)</h6>
            <p>{{priceChange_7d}}%</p>
          </div>
          <div>
            <h6>Circulating Supply</h6>
            <p>{{circulating_supply|floatformat:0}}</p>
          </div>
          <div>
            <h6>Total Supply</h6>
            <p>{{total_supply|floatformat:0}}</p>
          </div>
          <div>
            <h6>Maximum Supply</h6>
            <p>9283.92</p>
          </div>
        </div>
      </div>
    </div>

    <!-- GRAPH BLOCK -->
    <div class="graphBlock">
      <div>
        <h3>{{name}} Price Chart</h3>
      </div>
      <div class="chart">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

  <div class="description-block">
    <div class="question">What is {{name}} ?</div>
    <div class="answer">{{description}}</div>
    <div>
      <a href="{{homepage}}" target="_blank" class="site">Visit Site</a>
    </div>
  </div>
</div>

{%endblock%}

<!-- JAVASCRIPT -->
{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // UPDATE SYMBOL ACCORDING TO PRICE*******************************
    var priceChange = "{{priceChange_1h}}";
    if (priceChange < 0) {
      const symbol = document.getElementById("symbol");
      const badge = document.getElementById("badge");
      badge.style.backgroundColor = "rgba(246, 2, 2, 0.281)";
      badge.style.color = "rgb(255, 1, 1)";
      symbol.classList.remove("fa-caret-up");
      symbol.classList.add("fa-caret-down");
    } 
    else {
      const badge = document.getElementById("badge");
      badge.style.backgroundColor = "rgba(2, 246, 2, 0.281)";
      badge.style.color = "rgb(1, 255, 1)";
      symbol.classList.add("fa-caret-up");
      symbol.classList.remove("fa-caret-down");
    }

    // CHART UPDATE AND CREATION**************************************

    var ctx = document.getElementById("myChart").getContext("2d");
    var chartData = "{{ chartData|escapejs }}";
    chartData = JSON.parse(chartData);
    var { dates, prices_data, market_caps_data, total_volumes_data } =
      chartData;

    dates = dates.map(function (dateString) {
      var date = new Date(dateString);
      return date.toLocaleDateString("en-US", {
        month: "short",
        day: "numeric",
      });
    });

    // CHART
    var chart = new Chart(ctx, {
      type: "line",
      data: {
        labels: dates,
        datasets: [
          {
            label: "Price",
            data: prices_data,
            borderColor: prices_data.map((price, index, array) => {
              if (index > 0 && price < array[index - 1]) {
                console.log("hii")
                return "red"; // Change to red if price is lower than previous
              } else {
                console.log("hello")
                return "green"; // Default to green
              }
            }),            fill: false,
            pointRadius: 0,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              type: "time",
              time: {
                unit: "day",
                displayFormats: {
                  day: "MM DD",
                },
              },
              gridLines: {
                display: false,
              },
              scaleLabel: {
                display: true,
                labelString: "Dates",
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: false,
              },
              gridLines: {
                display: false,
              },
              scaleLabel: {
                display: true,
                labelString: "Value",
              },
            },
          ],
        },
      },
    });
  });
</script>

{%endblock%}
