<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: white;
        padding: 20px;
        color: black;
      }
      .error-message {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
      }
      .error-image {
        max-width: 30vw;
        height: auto;
        margin-top: 20px;
      }

      @media only screen and (max-width: 600px) {
        .error-image{
          max-width: 80vw;
        }
      }
    </style>
  </head>
  <body>
    <img class="error-image" src="../../static/my_app/images/6029646.jpg" alt="Error
    Image" />
    <div class="error-message">
      <p>Oops! Something went wrong.</p>
      <p>We apologize for the inconvenience.</p>
    </div>
  </body>
</html>
